langchain==0.1.0
openai==0.27.6
chromadb==0.3.21
llama-index==0.9.36
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability